[kernel_a]
mode=ubi
vol_id=0
vol_type=static
vol_name=kernel_a
vol_alignment=1
image=/opt/output/images/zImage

[kernel_b]
mode=ubi
vol_id=1
vol_type=static
vol_name=kernel_b
vol_alignment=1
image=/opt/output/images/zImage

#-------

[fdt_a]
mode=ubi
vol_id=2
vol_type=static
vol_name=fdt_a
vol_alignment=1
image=/opt/output/images/ntc-gr8-crumb.dtb

[fdt_b]
mode=ubi
vol_id=3
vol_type=static
vol_name=fdt_b
vol_alignment=1
image=/opt/output/images/ntc-gr8-crumb.dtb

#-------

[env]
mode=ubi
vol_id=4
vol_type=dynamic
vol_name=env
vol_alignment=1
image=/opt/output/images/uboot-env.bin

## not used right now
[env_backup]
mode=ubi
vol_id=5
vol_type=dynamic
vol_name=env_backup
vol_alignment=1
image=/opt/output/images/uboot-env.bin

#-------

[rootfs_a]
mode=ubi
vol_id=6
vol_type=dynamic
vol_name=rootfs_a
vol_alignment=1
vol_size=100MiB
image=/opt/output/images/rootfs.ubifs

[rootfs_b]
mode=ubi
vol_id=7
vol_type=dynamic
vol_name=rootfs_b
vol_alignment=1
vol_size=100MiB
image=/opt/output/images/rootfs.ubifs

#-------

[data]
mode=ubi
vol_id=8
vol_type=dynamic
vol_name=data
vol_alignment=1
image=/opt/output/images/data.ubifs
vol_flags=autoresize

